@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  --color-bgMain: #f2e9db;
  --color-primaryColor: #c0914b;
  --color-primaryFont: #806132;
}
.category {
  @apply bg-center h-72 min-[700px]:max-[900px]:w-20 w-28 max-[500px]:w-24 bg-cover rounded-2xl;
}
.bgCategory {
  @apply p-1    rounded-2xl border  border-white bg-linear-to-t from-white to-[rgba(255,255,255,0.1)] text-4xl font-light text-white relative;
}
.diamond {
  @apply h-24 max-[550px]:h-20  flex flex-col justify-between items-center text-[#C28978] cursor-pointer hover:scale-110;
}
.diamond img {
  @apply max-[550px]:h-10;
}
.diamond p {
  @apply max-[550px]:text-[12px] max-[550px]:font-bold;
}
.AllCategories {
  @apply bg-white rounded-lg min-[900px]:py-10 py-5 shadow-[0_0_7px_gray] text-shadow-[1px_1px_0px_gray] text-center sm:text-[20px] text-[18px] text-[#535252];
}
